{% extends '::base.html.twig' %}

{% block body %}

    <ul>
        {% for cast in entireCast %}
            <li>
                <a href="{{ path('app_cast_show', {'castId': cast.id}) }}">{{ cast.fullName }}</a>
            </li>
        {% else %}
            <p>No cast found</p>
        {% endfor %}
    </ul>

{% endblock %}